/*body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #444;
}

header {
  text-align: center;
}*/

body {
  margin: 0;
  padding: 0;
  font-family: 'Nanum Gothic', sans-serif;
  margin-bottom: 0px;
}

header {
  text-align: center;
}

a {
  text-decoration: none;
  color:darkgrey;
  transition: 0.3s;
}

a:hover {
  color: lightblue;
  transition: 0.3s;
}

.body {
  padding: 10px 0px 50px 00px;
  width: 90vw;
  margin: auto;
  min-height: 90vh;
}

figure {
  text-align: center;
}

#me {
  width: 50vw;
  height: 50vh;
  object-fit: contain;
}

footer{
  background-color: lightgrey;
  text-align: center;
  padding: 5px 0px;
}

.about {
  width: 80vw;
  margin: 20px auto;
  padding: 10px 10px 50px 10px;
  box-shadow: .5px .5px 1px 1px lightgrey;
}

.about h1{
  text-align: center;
}

.section {
  margin: 0;
  padding: 0;
}

.sides{
  display: inline-block;
  width: 100%;  
}

.sides:last-child{
  text-align: right;
}