<!DOCTYPE html>
<html>
  <body>
    <!-- Navigation bar -->
    <header>
      <div class="container">
        <h1 class="logo">TS</h1>
        <strong>
          <ul class="menu" style="list-style-type: none; margin: 0; padding: 0;">
            <li><a href="{{ url_for('index') }}">Home</a></li>
            <li><a href="{{ url_for('columbia') }}">Columbia</a></li>
            <li><a href="{{ url_for('about') }}">About</a></li>
          </ul>
        </strong>
      </div>
    </header>

    <!-- Where the content from each template goes -->
    <div class="container">
      {% block content %}
      {% endblock %}
    </div>

    <!-- Footer -->
    <footer>
        <h6>Trinity Sazo &copy; May 2020</h6>
      </footer>
  </body>
</html>